In [1]:
pip install scikit-learn --upgrade

Requirement already satisfied: scikit-learn in c:\users\ashwini\anaconda3\lib\site-packages (1.4.1.post1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ashwini\anaconda3\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\ashwini\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ashwini\anaconda3\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ashwini\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy --upgrade

Requirement already satisfied: numpy in c:\users\ashwini\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import GridSearchCV
import pickle

In [4]:
df=pd.read_csv("Housing 1.csv")

In [5]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [7]:
df.shape

(545, 13)

In [8]:
df.info

<bound method DataFrame.info of         price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]>

In [9]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [10]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [11]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
# Apply one-hot encoding to categorical variables
categorical_columns = df.select_dtypes(include=['object']).columns
df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)
df

,price,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,1,0,0,0,1,1,0,0
1,12250000,8960,4,4,4,3,1,0,0,0,1,0,0,0
2,12250000,9960,3,2,2,2,1,0,1,0,0,1,1,0
3,12215000,7500,4,2,2,3,1,0,1,0,1,1,0,0
4,11410000,7420,4,1,2,2,1,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,2,1,0,1,0,0,0,0,1
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1,0
542,1750000,3620,2,1,1,0,1,0,0,0,0,0,0,1
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,0,0
544,1750000,3850,3,1,2,0,1,0,0,0,0,0,0,1

In [14]:
# Split the dataset into features X and target variable y
X = df.drop('price', axis=1)
y = df['price']

In [35]:
X_train.columns

Index(['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'mainroad_yes',
       'guestroom_yes', 'basement_yes', 'hotwaterheating_yes',
       'airconditioning_yes', 'prefarea_yes',
       'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished'],
      dtype='object')

In [16]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [17]:
# Split the  data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [19]:
#create a Linear Regression Model
lm = LinearRegression()
lm.fit(X_train_scaled, y_train)
y_pred= lm.predict(X_test_scaled)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print("Linear Regression: ")
print("mean square error: ",mse)
print("Root mean square error: ",rmse)
print("Mean Absolute Error: ",mae)
print("R_squared score: ",r2)

Linear Regression:
mean square error:  1754318687330.668
Root mean square error:  1324506.9600914402
Mean Absolute Error:  970043.4039201642
R_squared score:  0.6529242642153176

In [20]:
# Ridge Regression
ridge = Ridge()
ridge.fit(X_train_scaled, y_train)
y_pred_ridge = ridge.predict(X_test_scaled)
mse=mean_squared_error(y_test,y_pred_ridge)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_test,y_pred_ridge)
r2=r2_score(y_test,y_pred_ridge)
print("Ridge Regression: ")
print("mean square error: ",mse)
print("Root mean square error: ",rmse)
print("Mean Absolute Error: ",mae)
print("R_squared score: ",r2)

Ridge Regression:
mean square error:  1754839327446.8076
Root mean square error:  1324703.4866138187
Mean Absolute Error:  969857.902847826
R_squared score:  0.6528212603810124

In [21]:
#Lasso Regression
la = Lasso()
la.fit(X_train_scaled, y_train)
y_pred_la = la.predict(X_test_scaled)
mse=mean_squared_error(y_test,y_pred_la)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_test,y_pred_la)
r2=r2_score(y_test,y_pred_la)
print("Lasso Regression: ")
print("mean square error: ",mse)
print("Root mean square error: ",rmse)
print("Mean Absolute Error: ",mae)
print("R_squared score: ",r2)

Lasso Regression:
mean square error:  1754319994370.271
Root mean square error:  1324507.4534974392
Mean Absolute Error:  970043.4056972674
R_squared score:  0.6529240056296142

In [22]:
#Decision Tree Regression
dt = DecisionTreeRegressor()
dt.fit(X_train_scaled, y_train)
y_pred_dt = dt.predict(X_test_scaled)
mse=mean_squared_error(y_test,y_pred_dt)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_test,y_pred_dt)
r2=r2_score(y_test,y_pred_dt)
print("Decision Tree Regression: ")
print("mean square error: ",mse)
print("Root mean square error: ",rmse)
print("Mean Absolute Error: ",mae)
print("R_squared score: ",r2)

Decision Tree Regression:
mean square error:  3090381337155.9634
Root mean square error:  1757948.0473426862
Mean Absolute Error:  1264527.5229357798
R_squared score:  0.38859661919198085

In [23]:
#random forest regression
rf = RandomForestRegressor()
rf.fit(X_train_scaled, y_train)
y_pred_rf = rf.predict(X_test_scaled)
mse=mean_squared_error(y_test,y_pred_rf)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_test,y_pred_rf)
r2=r2_score(y_test,y_pred_rf)
print("Random forest regression: ")
print("mean square error: ",mse)
print("Root mean square error: ",rmse)
print("Mean Absolute Error: ",mae)
print("R_squared score: ",r2)

Random forest regression:
mean square error:  1943262211869.025
Root mean square error:  1394009.4016429821
Mean Absolute Error:  1009503.8440366973
R_squared score:  0.6155435344342975

In [24]:
# Define the parameter grid to search
param_grid = {
    'n_estimators': [40, 100, 150],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 6, 10],
    'min_samples_leaf': [1, 3, 5]
}

# Create the Random Forest Regressor
rf = RandomForestRegressor()

# Create GridSearchCV object
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5, n_jobs=-1)

# Fit the grid search to the data
grid_search.fit(X_train_scaled, y_train)

# Get the best parameters from the grid search
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

# Use the best model to make predictions
best_rf = grid_search.best_estimator_
y_pred_best_rf = best_rf.predict(X_test_scaled)

# Evaluate the performance of the best model
best_mse = mean_squared_error(y_test, y_pred_best_rf)
best_rmse = np.sqrt(best_mse)
best_mae = mean_absolute_error(y_test, y_pred_best_rf)
best_r2 = r2_score(y_test, y_pred_best_rf)

print("Best Random Forest Regression:")
print("Mean Squared Error: ", best_mse)
print("Root Mean Squared Error: ", best_rmse)
print("Mean Absolute Error: ", best_mae)
print("R-squared Score: ", best_r2)

Best Hyperparameters: {'max_depth': 20, 'min_samples_leaf': 3, 'min_samples_split': 10, 'n_estimators': 40}
Best Random Forest Regression:
Mean Squared Error:  2045413511216.1946
Root Mean Squared Error:  1430179.5381056864
Mean Absolute Error:  1071771.407881792
R-squared Score:  0.5953338441207168

In [25]:
# Use the best parameters from the grid search
best_params = grid_search.best_params_

# Create a new Random Forest Regressor with the best hyperparameters
new_rf_model = RandomForestRegressor(
    n_estimators=best_params['n_estimators'],
    max_depth=best_params['max_depth'],
    min_samples_split=best_params['min_samples_split'],
    min_samples_leaf=best_params['min_samples_leaf']
)

# Fit the new model to the data
new_rf_model.fit(X_train_scaled, y_train)

# Make predictions using the new model
y_pred_new_rf = new_rf_model.predict(X_test_scaled)

# Evaluate the performance of the new model
new_mse = mean_squared_error(y_test, y_pred_new_rf)
new_rmse = np.sqrt(new_mse)
new_mae = mean_absolute_error(y_test, y_pred_new_rf)
new_r2 = r2_score(y_test, y_pred_new_rf)

print("New Random Forest Regression with Best Hyperparameters:")
print("Mean Squared Error: ", new_mse)
print("Root Mean Squared Error: ", new_rmse)
print("Mean Absolute Error: ", new_mae)
print("R-squared Score: ", new_r2)

New Random Forest Regression with Best Hyperparameters:
Mean Squared Error:  2037700350689.0935
Root Mean Squared Error:  1427480.4204223235
Mean Absolute Error:  1059739.1743982052
R-squared Score:  0.5968598216323868

In [26]:
filename='new_rf_model.pkl'
with open(filename,'wb') as file:
    pickle.dump(new_rf_model,file)
file.close()

In [37]:
ip=2000,1,1,2,0,0,0,0,0,0,0,0,0
ip=np.array(ip).reshape(1,-1)
model=pickle.load(open('new_rf_model.pkl', 'rb'))
pred=model.predict(ip)
pred

array([6969684.75130262])

In [27]:
print(f"Model saved to {filename}")

Model saved to new_rf_model.pkl

In [28]:
with open(filename,'rb') as file:
    loaded_model=pickle.load(file)
print(loaded_model)

RandomForestRegressor(max_depth=20, min_samples_leaf=3, min_samples_split=10,
                      n_estimators=40)

In [29]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\ashwini\anaconda3\lib\site-packages (1.31.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (5.2.0)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (4.11.3)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (4.3.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (2.28.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (1.7.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (9.2.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (3.1.42)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (1.4.4)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: pyarrow>=7.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (15.0.0)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (21.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\ashwini\appdata\roaming\python\python39\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (5.3.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.16.0)
Requirement already satisfied: jinja2 in c:\users\ashwini\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (2.11.3)
Requirement already satisfied: toolz in c:\users\ashwini\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.11.2)
Requirement already satisfied: colorama in c:\users\ashwini\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ashwini\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\ashwini\anaconda3\lib\site-packages (from importlib-metadata<8,>=1.4->streamlit) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ashwini\anaconda3\lib\site-packages (from packaging<24,>=16.8->streamlit) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashwini\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\ashwini\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.11)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ashwini\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.17.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ashwini\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: tzdata in c:\users\ashwini\anaconda3\lib\site-packages (from tzlocal<6,>=1.1->streamlit) (2024.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\ashwini\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ashwini\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.0.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\ashwini\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ashwini\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (21.4.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\ashwini\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [30]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\ashwini\anaconda3\lib\site-packages (1.31.1)
Requirement already satisfied: validators<1,>=0.2 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: pyarrow>=7.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (15.0.0)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (21.3)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (5.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (1.7.0)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (9.2.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (5.2.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (1.4.4)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (2.28.1)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (5.3.1)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (4.3.0)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (4.11.3)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (3.1.42)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\ashwini\appdata\roaming\python\python39\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\ashwini\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.16.0)
Requirement already satisfied: toolz in c:\users\ashwini\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.11.2)
Requirement already satisfied: jinja2 in c:\users\ashwini\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (2.11.3)
Requirement already satisfied: colorama in c:\users\ashwini\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ashwini\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\ashwini\anaconda3\lib\site-packages (from importlib-metadata<8,>=1.4->streamlit) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ashwini\anaconda3\lib\site-packages (from packaging<24,>=16.8->streamlit) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashwini\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\ashwini\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ashwini\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ashwini\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.17.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ashwini\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: tzdata in c:\users\ashwini\anaconda3\lib\site-packages (from tzlocal<6,>=1.1->streamlit) (2024.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\ashwini\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ashwini\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.0.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\ashwini\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ashwini\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (21.4.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\ashwini\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Note: you may need to restart the kernel to use updated packages.